header{
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #000;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

